@tailwind components;
@layer components {
  .tabbtn {
    @apply w-[100px] text-[#F45F17] font-semibold text-[14px] leading-[20px] border-b-4 border-[#F45F17] text-center p-[10px] cursor-pointer md:w-[130px] md:text-[18px] md:leading-[18px] lg:text-[20px] 2xl:w-[181px] 2xl:text-[24px] 2xl:leading-[32px];
  }
  .none-tab {
    @apply w-[100px] font-semibold text-[14px] leading-[20px] text-white cursor-pointer text-center md:w-[130px] md:text-[18px] md:leading-[18px] lg:text-[20px] 2xl:w-[181px] 2xl:text-[24px] 2xl:leading-[32px];
  }
  .text-social-chapterpage {
    @apply flex items-center gap-2 font-medium text-[11px] leading-[16px] text-white md:text-[14px] md:leading-[20px] lg:text-[16]   2xl:font-semibold 2xl:text-[22px] 2xl:leading-[28px];
  }
  .info-chapterpage {
    @apply text-[#9E9E9E] font-normal text-[12px] leading-[16px] flex items-center gap-2 md:text-[15px] md:leading-[20px] lg:text-[20px] lg:leading-[25px]  2xl:text-[28px] 2xl:leading-[36px];
  }
  .flag-chapterpage {
    @apply w-[32px] h-[23px] bg-cover object-cover md:h-[33px] md:w-[50px] lg:h-[40px] lg:w-[55px] 2xl:h-[48px] 2xl:w-[67px];
  }
  .btn-chapterDetails {
    @apply w-[75px] h-[32px] object-cover cursor-pointer hidden  bg-center md:block md:w-[120px] md:h-[42px] lg:w-[200px] lg:h-[70px];
  }
}
